<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @locality.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @locality.city_id %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @locality.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @locality.longitude %>
</p>

<%= link_to 'Edit', edit_locality_path(@locality) %> |
<%= link_to 'Back', localities_path %>
