<p id="notice"><%= notice %></p>

<h1>Garbage Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Picture</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @garbage_types.each do |garbage_type| %>
      <tr>
        <td><%= garbage_type.name %></td>
        <td><%= garbage_type.picture %></td>
        <td><%= garbage_type.description %></td>
        <td><%= link_to 'Show', garbage_type %></td>
        <td><%= link_to 'Edit', edit_garbage_type_path(garbage_type) %></td>
        <td><%= link_to 'Destroy', garbage_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Garbage Type', new_garbage_type_path %>
