<p id="notice"><%= notice %></p>

<h1>Operadores</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @operadores.each do |operadore| %>
      <tr>
        <td><%= operadore.nombre %></td>
        <td><%= operadore.telefono %></td>
        <td><%= operadore.email %></td>
        <td><%= link_to 'Show', operadore %></td>
        <td><%= link_to 'Edit', edit_operadore_path(operadore) %></td>
        <td><%= link_to 'Destroy', operadore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Operadore', new_operadore_path %>
