<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @suburb.name %>
</p>

<p>
  <strong>Locality:</strong>
  <%= @suburb.locality_id %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @suburb.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @suburb.longitude %>
</p>

<%= link_to 'Edit', edit_suburb_path(@suburb) %> |
<%= link_to 'Back', suburbs_path %>
