<p id="notice"><%= notice %></p>

<p>
  <strong>Foto:</strong>
  <%= @publicacione.foto %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @publicacione.estado_id %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @publicacione.usuario_id %>
</p>

<%= link_to 'Edit', edit_publicacione_path(@publicacione) %> |
<%= link_to 'Back', publicaciones_path %>
