<p id="notice"><%= notice %></p>

<h1>Subjects</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Suburb</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Garbage type</th>
      <th>Picture</th>
      <th>Detail</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.user_id %></td>
        <td><%= subject.suburb_id %></td>
        <td><%= subject.address %></td>
        <td><%= subject.latitude %></td>
        <td><%= subject.longitude %></td>
        <td><%= subject.garbage_type_id %></td>
        <td><%= subject.picture %></td>
        <td><%= subject.detail %></td>
        <td><%= subject.state_id %></td>
        <td><%= link_to 'Show', subject %></td>
        <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
        <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subject', new_subject_path %>
