<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @subject.user_id %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @subject.suburb_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @subject.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @subject.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @subject.longitude %>
</p>

<p>
  <strong>Garbage type:</strong>
  <%= @subject.garbage_type_id %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @subject.picture %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @subject.detail %>
</p>

<p>
  <strong>State:</strong>
  <%= @subject.state_id %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
