<p id="notice"><%= notice %></p>

<h1>Casos</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Barrio</th>
      <th>Tipo basura</th>
      <th>Foto string</th>
      <th>Detalle</th>
      <th>Estado</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @casos.each do |caso| %>
      <tr>
        <td><%= caso.usuario_id %></td>
        <td><%= caso.barrio_id %></td>
        <td><%= caso.tipo_basura %></td>
        <td><%= caso.foto_string %></td>
        <td><%= caso.detalle %></td>
        <td><%= caso.estado_id %></td>
        <td><%= caso.fecha %></td>
        <td><%= link_to 'Show', caso %></td>
        <td><%= link_to 'Edit', edit_caso_path(caso) %></td>
        <td><%= link_to 'Destroy', caso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Caso', new_caso_path %>
