<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @caso.usuario_id %>
</p>

<p>
  <strong>Barrio:</strong>
  <%= @caso.barrio_id %>
</p>

<p>
  <strong>Tipo basura:</strong>
  <%= @caso.tipo_basura %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @caso.foto %>
</p>

<p>
  <strong>Detalle:</strong>
  <%= @caso.detalle %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @caso.estado_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @caso.fecha %>
</p>

<%= link_to 'Edit', edit_caso_path(@caso) %> |
<%= link_to 'Back', casos_path %>
