<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipo_basura.nombre %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @tipo_basura.foto %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipo_basura.descripcion %>
</p>

<%= link_to 'Edit', edit_tipo_basura_path(@tipo_basura) %> |
<%= link_to 'Back', tipo_basuras_path %>
