<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tip.title %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @tip.detail %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @tip.picture %>
</p>

<p>
  <strong>Type:</strong>
  <%= @tip.type %>
</p>

<%= link_to 'Edit', edit_tip_path(@tip) %> |
<%= link_to 'Back', tips_path %>
