<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @tip.titulo %>
</p>

<p>
  <strong>Detalle:</strong>
  <%= @tip.detalle %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @tip.foto %>
</p>

<p>
  <strong>Tipot:</strong>
  <%= @tip.tipot_id %>
</p>

<%= link_to 'Edit', edit_tip_path(@tip) %> |
<%= link_to 'Back', tips_path %>
