<%= form_with(model: notificacione, local: true) do |form| %>
  <% if notificacione.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notificacione.errors.count, "error") %> prohibited this notificacione from being saved:</h2>

      <ul>
      <% notificacione.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :caso_id %>
    <%= form.number_field :caso_id %>
  </div>

  <div class="field">
    <%= form.label :usuario_id %>
    <%= form.number_field :usuario_id %>
  </div>

  <div class="field">
    <%= form.label :visto %>
    <%= form.number_field :visto %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
