<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :class => "login100-form validate-form" }) do |f| %>
        <%= devise_error_messages! %>

        <span class="login100-form-title p-b-43">
          BS-Urbano
        </span>
        

        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
          <%= f.text_field :name, autofocus: true, autocomplete: "name", :class => "input100" %>
          <span class="focus-input100"></span>
          <span class="label-input100">Nombre</span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "input100" %>
          <span class="focus-input100"></span>
          <span class="label-input100">Email</span>
        </div>
        
        <div class="wrap-input100 validate-input" data-validate="Password is required"> 
          <%= f.password_field :password, autocomplete: "new-password", :class => "input100"   %> 
          <span class="focus-input100"></span>
          <span class="label-input100">Contraseña</span>
        </div>
        
        
        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "input100" %>
          <span class="focus-input100"></span>
          <span class="label-input100">Confirmar Contraseña</span>
        </div>

        <div class="flex-sb-m w-full p-t-3 p-b-32">
          <% if devise_mapping.rememberable? -%>
            <div class="contact100-form-checkbox">
              <%= f.check_box :remember_me, :class => "input-checkbox100" %>
              <%= f.label :remember_me, "Recordarme", :class => "label-checkbox100" %>
            </div>
          <% end -%>
        </div>
    

        <div class="container-login100-form-btn">
          <%= f.submit "Crear Cuenta", :class => "login100-form-btn" %>
        </div>
        
        <div class="text-center p-t-46 p-b-20">
          <span class="txt2">
            o regístrate usando
          </span>
        </div>

        <div class="login100-form-social flex-c-m">
          <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
            <i class="fa fa-facebook-f" aria-hidden="true"></i>
          </a>

          <a href="#" class="login100-form-social-item flex-c-m bg3 m-r-5">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </a>
        </div>
      <% end %>

      <div class="login100-more" style="background-image: url('/images/bg-01.jpg');">
      </div>
    </div>
  </div>
</div>